{% extends 'base.html'%}

{% block content %}
    <br>
    <div class="col-md-12 d-flex justify-content-center">
        <div class="list-group justify-content-center col-md-6">
            {% if users %}
                <div class="d-flex justify-content-center">
                    <h5>Users</h5>
                </div>
                {% for user in users %}
                    <a href="/users/{{ user.id }}/detail" class="list-group-item list-group-item-action">
                        {{ user.full_name }}
                    </a>
                {% endfor %}
            {% else %}
                <h5>No user found.</h5>
            {% endif %}
            <br>
            <a class="btn btn-primary btn-block" href="/users/new" methods="GET" role="button">New user</a>
        </div>
        <div class="list-group justify-content-center col-md-6">
            {% if tags %}
                <div class="d-flex justify-content-center">
                    <h5>Tags</h5>
                </div>
                {% for tag in tags %}
                    <a href="/tags/{{ tag.id }}/detail" class="list-group-item list-group-item-action">
                        {{ tag.name }}
                    </a>
                {% endfor %}
            {% else %}
                <h5>No tags found.</h5>
            {% endif %}
            <br>
            <a class="btn btn-primary btn-block" href="/tags/new" methods="GET" role="button">New tag</a>
        </div>
    </div>
{% endblock %}