{% extends 'base.html'%}

{% block content %}
    <br>
    <div class="container">
        <div class="d-flex justify-content-center row">
            <div class="justify-content-center row">
                <div class="col-md-6">
                    <img src="{{ user.img_url }}" alt="{{ user.full_name }}" width="200" height="200">
                </div>
                <div class="col-md-6">
                    <div>
                        <h5>{{ user.full_name }}</h5>
                    </div>
                    <div>
                        <a class="btn btn-success btn-block" href="/users/{{ user.id }}/edit" role="button">Edit</a>
                        <a class="btn btn-danger btn-block" href="/users/{{ user.id }}/delete" role="button">Delete</a>
                        <a class="btn btn-light btn-block" href="/" role="button">Home</a>
                    </div>
                </div>
                <br>
            </div>
        </div>
        <br>
        <div class="justify-content-center row">
            <div class="justify-content-center row">
                <div class="col-md-12 text-center">
                    <h4>Posts</h4>
                </div>
                <div class="list-group justify-content-center">
                    {% if posts %}
                        {% for post in posts %}
                            <a href="/posts/{{ post.id }}/detail" class="list-group-item list-group-item-action">
                                {{ post.title }}
                            </a>
                        {% endfor %}
                    {% else %}
                        <h5>You haven't posted yet.</h5>
                    {% endif %}
                    <br>
                    <a class="btn btn-primary btn-block" href="/posts/{{ user.id }}/new" methods="GET" role="button">New post</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}